
@font-face {
  font-family: 'WorkSans-ExtraLight';
  src: url('WorkSans-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('WorkSans-ExtraLight.woff') format('woff'), url('WorkSans-ExtraLight.ttf')  format('truetype'), url('WorkSans-ExtraLight.svg#WorkSans-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
