
@font-face {
  font-family: 'WorkSans-ExtraBold';
  src: url('WorkSans-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('WorkSans-ExtraBold.woff') format('woff'), url('WorkSans-ExtraBold.ttf')  format('truetype'), url('WorkSans-ExtraBold.svg#WorkSans-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
